[MASTER]
load-plugins=pylint_django

# Ignore docstrings warnings
disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring

# Utilize Django's settings for python linting
django-settings-module = demoproject.settings